html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

div {
  display: inline-block;
  margin: auto;
}

a {
  font-size: 3em;
  background-color: red;
  text-decoration: none;
  color:white;
  border-radius: 5px;
  
}